
#score{
    margin-left: 5px;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}

#timer
{
    float: right;
    margin-right: 5px;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}

body
{
    background-color: rgb(208, 169, 255);
}

h1
{
    background-color: rgb(215, 213, 255);
    color: rgb(163, 146, 255);
    font-family: Calbiri;
    height: 65px;
    width: 100%;
    font-size: 55px;
}

#show_sketch
{
    float: right;
    height: 50px;
    width: 160px;
    font-size: 25px;
    margin-top: 8px;
}

p
{
    font-family: Impact;
    font-size: 38px;
}

.close
{
    font-size: 55px;
}

#timer
{
    float: right;
} 
  
  canvas 
    {
      border:2px solid white;
      border-radius:20px;
      margin-top:135px;
      box-shadow:5px 5px 5px grey;
      box-shadow: 1px 1px 38px #ffffff;
      animation-name: example;
      animation-duration: 6s;
      animation-iteration-count: infinite;
  }
  
  @keyframes example {
  
    from {box-shadow: 1px 1px 38px;}
    to {box-shadow: 1px 1px 38px;}
  
}
